.theaterbtn {
	background-color: $white;
	// background-image: radial-gradient(
	// 	farthest-corner at 40px 40px,
	// 	$light 10%,
	// 	$medium 100%
	// );
	position: relative;
	color: $dark;
	display: grid;
	place-items: center;
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	box-shadow: 2px 2px 5px $dark;
	transition: all 0.3s;
	&--icon {
		// color: $dark;
		height: 10rem;
		width: 10rem;
		// transition: all 0.3s;

		// &:hover {
		// 	visibility: hidden;
		// }
	}
	&--text {
		// @include font-logo;
		position: absolute;
		visibility: hidden;
		font-size: 3rem;
		font-weight: 900;
		color: $white;
		// color: red;
		text-align: center;
		// transition: all 0.3s;
		margin-top: 2rem;
		// background-color: red;
	}

	&:hover {
		background-color: $heavy;
		// background-image: radial-gradient(
		// 	farthest-corner at 40px 40px,
		// 	$white 0%,
		// 	$medium 100%
		// );
		// color: $light;
	}

	&:hover .theaterbtn--icon {
		visibility: hidden;
	}
	&:hover .theaterbtn--text {
		visibility: visible;
	}
}
