.DnDCard {
	// background-color: red;

	img {
		// height: 100%;
	}

	.textContainer {
		display: flex;
		align-items: center;
		height: 2rem;
		p {
			// background-color: green;
			margin-top: 1rem;
			margin-bottom: 0rem;
			font-size: 1.4rem;
			//https://css-tricks.com/almanac/properties/l/line-clamp/
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}
