// $tablet-breakpoint: 550px;

$grid: 0.8rem;

.DnDCard {
	width: 200px;
	border: 1px solid grey;
	margin-bottom: $grid;
	background-color: lightblue;
	padding: $grid;

	// &:active {
	// 	background-color: red;
	// }
}
.isDragged {
	background-color: red;
}
