.carousel {
	// this is required to constrain the transition of the slides
	height: 60vh;
	width: 55vw;
}

.slideCard {
	height: 60vh;
	width: 55vw;
	display: flex;
	border-radius: 2rem;
	overflow: hidden;
	.imageContainer {
		width: 50%;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		// background-size: cover;
	}
	.textContainer {
		position: relative;
		width: 50%;
		// background-color: red;
		padding: 1rem 0;
		padding-left: 5rem;
		display: grid;
		place-items: center;
	}
	.carouselText {
		@include font-slides;
		font-size: 4rem;
		word-wrap: break-word;
		overflow: hidden;
		color: rgba(255, 255, 0, 0.9);
		text-shadow: 0px 0px 10px $white;
	}
}
