.carousel {
	// this is required to constrain the transition of the slides
	height: 60vh;
	width: 55vw;
}

.slideCard {
	height: 60vh;
	width: 55vw;
	// width: 100%;
	// height: 5%;
	// background-color: red;
	// display: grid;
	// place-items: center;
	display: flex;
	border-radius: 2rem;
	overflow: hidden;
	// flex-direction: column;
	// .img-horizontal {
	// }
	img {
		width: 50%;
	}
	.textContainer {
		width: 50%;
		height: auto;
		padding: 3rem;
		display: grid;
		place-items: center;
		background-color: rgb(26, 25, 25);
	}
	p {
		@include font-slides;
		font-size: 4.5rem;
		word-wrap: break-word;
		overflow: hidden;
		color: white;
		// width: 50%;
	}
}
