.theater {
	background-color: black;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	place-items: center;

	.curtains {
		position: fixed;
		top: 0;
		left: -1%;
		width: 110vw;
		fill: rgb(110, 3, 110);
		opacity: 0.8;
	}

	.footer {
		position: fixed;
		width: 100vw;
		height: 10rem;
		bottom: 0;
		display: grid;
		place-items: center;
	}
	.btnContainer {
		display: flex;
		justify-content: space-between;
	}
	.theaterModeBtn {
		cursor: pointer;
		font-size: 6rem;
		width: fit-content;
		margin: 0 2rem 1rem;
		color: $white;
		transition: all 0.3s;
		&:hover {
			color: $medium;
		}
	}
}
