$grid: 0.8rem;

.DnDCardContainer {
	width: 200px;
	border: 1px solid grey;
	margin-bottom: $grid;
	background-color: lightblue;
	padding: $grid;
	border-radius: 5px;
}
.isDragged {
	background-color: rgb(117, 165, 182);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19);
}
