.titleLabel {
	font-size: 3rem;
	margin-right: 2rem;
	// width: 5%;
}
.projectTitle {
	background-color: $white;
	font-size: 5rem;
	width: 90%;
	border: none;
	// border: 1px dotted rgba($color: $dark, $alpha: 1);
	// width: fit-content;
	// text-decoration-style: double;
	// border-bottom: 1px solid #000;
}
