.titleLabel {
	font-size: 2.8rem;
	margin-right: 2rem;
	// width: 5%;
}
.projectTitle {
	background-color: $white;
	font-size: 4rem;
	width: 90%;
	border: none;
	text-shadow: 2px 2px 4px $light;
	// color: $dark;
	// border: 1px dotted rgba($color: $dark, $alpha: 1);
	// width: fit-content;
	// text-decoration-style: double;
	// border-bottom: 1px solid #000;
}
