.HomePage {
	// position: relative;

	.optionsContainer {
		// position: fixed;
		// bottom: 0;
		// left: 0;
		padding: 2rem;
		background-color: lightblue;
		width: fit-content;
	}
	.toolContainer {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
	}

	.guideContainer {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
	}
}
