.HomePage {
	// position: relative;
	margin: 0 auto;
	max-width: $width-desk;

	.headingContainer {
		// display: flex;
		// justify-content: space-between;
		margin-top: 4rem;
	}

	.apiheading {
		font-size: 1.4rem;
		font-weight: 700;
		text-align: right;
	}

	.optionsContainer {
		// position: fixed;
		// bottom: 0;
		// left: 0;
		padding: 2rem;
		background-color: lightblue;
		width: fit-content;
	}
	.toolContainer {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
	}

	.guideContainer {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
	}
}
