.HomePage {
	margin: 0 auto;
	max-width: $width-desk;

	.headingContainer {
		margin-top: 2rem;
	}

	.apiheading {
		font-size: 1.4rem;
		font-weight: 700;
		text-align: right;
		user-select: none;
	}
	//****************************************************
	.guideContainer {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
	}
	.guideLabel {
		font-size: 2.4rem;
		color: $heavy;
		width: 25%;
		user-select: none;

		&--end {
			text-align: right;
		}
	}
	.toolContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 2px dotted $medium;
		border-radius: 1rem;
		padding: 1rem;
		width: 15rem;
	}
	//****************************************************
	.majorEditContainer {
		display: grid;
		grid-template-columns: 5fr 1fr;
		padding: 2rem 0 3rem;
	}
	.message {
		font-size: 1.8rem;
		border: 1px dotted $medium;
		color: $heavy;
		text-align: center;
	}
	.optionsContainer {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		padding: 0 2rem;
	}

	.btnContainer {
		display: grid;
		place-items: center;
	}
}
