header {
	background-color: $dark;
	width: 100%;
	display: grid;
	place-items: center;
	padding: 2rem;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: $width-desk;
	}
	.appLogo {
		@include font-logo;
		font-size: 3.2rem;

		// text-decoration: underline;
		background-clip: text;
		background: -webkit-gradient(
			linear,
			left top,
			right top,
			from(rgb(255, 255, 255)),
			to($medium)
		);
		background: linear-gradient(to right, rgb(255, 255, 255) 0%, $medium 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		width: -webkit-fit-content;
		width: fit-content;
		width: -moz-fit-content;
	}
	.hover {
		// for site logo
		// idea from from codepen https://codepen.io/mxttsco/pen/KgodYm
		transition: all 0.2s ease-in-out;
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: 0rem;
			width: 0px;
			height: 0.75rem;
			margin: 5rem 0 0;
			transition: all 0.2s ease-in-out;
			transition-duration: 0.2s;
			opacity: 0;
			background-color: darken($medium, 5%);
			left: 0;
		}
	}
	&:hover {
		cursor: pointer;
		.hover {
			&:before,
			&:after {
				width: 100%;
				opacity: 0.5;
			}
		}
	}
	.authContainer {
		display: flex;
		align-items: center;
	}
}
