.mybtn {
	font-size: 2rem;
	// color: $white;
	// background-color: $medium;
	// border: 3px solid $heavy;
	color: $heavy;
	background-color: $white;
	border: 3px solid $light;
	font-weight: 700;
	border-radius: 5px;
	margin: 1rem 0;
	padding: 1rem;
	transition: all 0.3s;

	&:hover,
	&:active {
		color: $white;
		background-color: $medium;
		border: 3px solid $heavy;
	}

	&--top {
		border-top-left-radius: 20px;
		// border-top-right-radius: 20px;
	}
	&--bottom {
		border-bottom-left-radius: 20px;
		// border-bottom-right-radius: 20px;
	}

	&--spaceRight {
		margin-right: 1rem;
	}
}
