.mybtn {
	font-size: 1.6rem;
	// color: $white;
	// background-color: $medium;
	// border: 3px solid $heavy;
	color: $heavy;
	background-color: $white;
	border: 3px solid $light;
	font-weight: 700;
	border-radius: 5px;
	margin: 0.5rem 0;
	padding: 1rem;
	transition: all 0.3s;
	box-shadow: 2px 2px 5px $dark;

	&:hover,
	&:active {
		color: $white;
		background-color: $medium;
		border: 3px solid $heavy;
	}

	&--top {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	&--bottom {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	&--spaceRight {
		margin-right: 1rem;
	}
}

$alarm: rgb(209, 168, 162);
$bold: rgb(207, 184, 181);

.mybtn__round {
	cursor: pointer;
	background-color: $alarm;
	position: relative;
	color: $dark;
	display: grid;
	place-items: center;
	height: 15rem;
	width: 15rem;
	border-radius: 50%;
	box-shadow: 2px 2px 5px $dark;
	transition: all 0.3s;
	margin-top: 1rem;
	&--icon {
		height: 10rem;
		width: 10rem;
	}
	&--text {
		position: absolute;
		visibility: hidden;
		font-size: 3rem;
		font-weight: 900;
		color: $white;
		text-align: center;
		margin-top: 2rem;
	}

	&--small {
		background-color: $bold;
		height: 12rem;
		width: 12rem;
		&--icon {
			height: 10rem;
			width: 10rem;
		}
		&--text {
			font-size: 2.4rem;
			text-align: center;
			margin-top: -0.2rem;
		}
	}

	&:hover {
		background-color: $heavy;
	}

	&:hover .mybtn__round--icon {
		visibility: hidden;
	}
	&:hover .mybtn__round--text {
		visibility: visible;
	}
}
