* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	@include font-regular;
}
html {
	font-size: 10px; // this one has to be absolute size
	// setting site wide font color
	color: black;
	background-color: $white;
}
img {
	max-width: 100%; // helps to make images responsive!
}
.imgLoading {
	background-image: url('../assets/images/spinner.gif');
	background-size: cover;
	min-width: 25px;
	min-height: 25px;
}
a {
	display: block;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
// removes default browser basic form element border
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
