.modal {
	// width: 50vw;

	.modal-content {
		padding: 2rem;
		background-color: $dark;
	}
	.modal-title {
		font-size: 3.2rem;
		font-weight: 700;
		color: $white;
	}
	.btn-close {
		font-size: 2rem;
		background-color: $white;
	}
	li {
		background-color: $white;
		cursor: pointer;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		span {
			font-size: 2.4rem;
		}
		&:hover,
		&:active {
			background-color: $light;
		}
	}
	.listMessage {
		color: $white;
		font-size: 2.4rem;
		text-align: center;
	}

	form {
		label {
			font-size: 2.4rem;
			color: $white;
		}

		input {
			background-color: $white;
			font-size: 3rem;
		}
	}
	.modal-footer {
		justify-content: space-between;
	}
}
