// breakpoints
$width-mob: 400px;
$width-tablet-s: 600px;
$width-tablet-l: 800px;
$width-desk: 1200px;

$dark: rgba(86, 82, 100, 1);
$heavy: rgba(112, 102, 119, 1);
$medium: rgba(166, 128, 140, 1);
$light: rgba(204, 183, 174, 1);
$white: rgba(214, 207, 203, 1);
